footer {
    position:-webkit-sticky; 
    position:sticky;
    bottom:0;
    height: 60px;
    padding: 0 1rem;

    background-color: #242526;
}

.footer {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-item {
  width: calc(60px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button {
  width: calc(60px * 0.7);
  height: calc(60px * 0.7);
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: #484a4d;

  transition: filter 300ms;
}

.footer-button:hover {
  filter: brightness(1.2)
}

.footer-button svg {
  width: 20px;
  height: 20px;

  fill: #dadce1;
}